/**
 * ----------------------------------------
 * Global Styles
 * ----------------------------------------
 */

* { 
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #eee;
}
hr {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}
h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.feature-image {
  min-height: 140px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.feature-text {

}
.intro2 {
  background-position: top;
}

/**
 * ----------------------------------------
 * Header Styles
 * ----------------------------------------
 */

header {
  text-align: center;
}

/**
* ----------------------------------------
* Nav Styles
* ----------------------------------------
*/

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: sticky;
  text-align: center;
  box-shadow: 0px 1px 6px black;
  z-index: 1000;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav li {
  padding: 5px 10px 5px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white;
}
.name {
  font-size: 18px;
}
.nav .name {
  display: block;
  margin-right: auto;
  color: white;
}

/**
* ----------------------------------------
* Footer Styles
* ----------------------------------------
*/

footer {
  width: 100%;
  min-height: 30px;
  text-align: center;
  padding: 20px 0 40px 20px;
}
footer ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
}

footer ul li {
  display: inline-block;
}
footer .copyright {
  top: -8px;
  font-size: .75em;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}

/**
 * ----------------------------------------
 * Main Styles- Home Page
 * ----------------------------------------
 */

.intro {
  text-align: center;
  background: url('images/header_background.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  border-bottom: 2px solid black;
  box-shadow: 0 1px 10px black;
  line-height: 1.5;
}
.profile-image {
  position: absolute;
}
.profile-image-hover {
  position: relative;
  opacity: 0;
}
.profile-image, .profile-image-hover {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 1px solid #222;
  transition: all .5s;
  z-index: 1000;
}
.profile-image-hover:hover {
  transform: scale(1.3) rotate(720deg);
  border: 2px solid #222;
  box-shadow: 1px 1px 6px black;
  opacity: 1;
  transition: all .7s;
}
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 5px auto;
  transform: rotate(3deg);
}
.location {
  background-color: #222;
  color: #fff;
  transform: rotate(-3deg);
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #ff99ff;
}

/**
 * ----------------------------------------
 * Main Styles- Resume Page
 * ----------------------------------------
 */

.cert_img {
  margin: 15px 5px 15px 0;
}
ul.resume-skills {
  padding: 0;
  text-align: left;
  margin-top: 20px;
}
.resume-skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}
.resume-skills li:nth-child(odd) {
  background: #0399ff;
}

/**
 * ----------------------------------------
 * Main Styles- Contact Page
 * ----------------------------------------
 */


/**
 * ----------------------------------------
 * Mobile Styles- Large Screens
 * ----------------------------------------
 */

@media screen and (min-width: 720px) {
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }
  .intro {
    min-height: 400px;
  }
  .intro2 {
    min-height: 150px;
    background-position: center;
    background-size: revert;
    padding-top: 10px;
  }
  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }
  .resume-wrapper {
    max-width: 850px;
    margin-top: 35px;
  }
  main p {
    line-height: 1.6em;
  }
  footer {
    font-size: 1.3em;
    margin: 0 auto;
  }
}






